 /* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and  (max-width: 320px) {


}

@media screen and (max-width: 400px) { 
  @-ms-viewport {
    width: 320px;
  }
  .navbar-brand img { width: 210px; height: auto;}
} 

@media screen and (max-width: 500px) { 
	#map { width: 290px; height: 190px}
}

@media (max-width: 767px) {	
	.navbar-nav { padding-top: 0;}

}

@media (min-width: 768px) and (max-width: 991px) {


}

@media (min-width: 992px) and (max-width: 1199px) {
	
	.navbar-nav li a {  padding: 10px 25px;}
	.aside .media-body { padding-right: 50px}

}

@media (min-width: 1200px) {

	.container { width: 1100px}
	.navbar-nav li a { padding: 10px 25px;}
	.aside .media-body { padding-right: 50px}


}






